<%= puts :field %>
<% if @user.errors[:field].any? %>
  <div class="help-inline help-small no-left-padding">

    <ul>
      <% @user.errors[:field].each do t %>
        <li>
          <%=  @user.errors[:field].to_s[2..-3] %>
        </li>
      <% end %>
    </ul>
  </div>
<% end -%>
